body {

}

section.allSolutions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

section.puzzle {
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  width: fit-content;
}

section.row {
  display: flex;
}

section.cell {
  height: 32px;
  width: 32px;
}

h3.linkSection a {
  margin: 12px;
}
