body {

}

section.allSolutions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

section.puzzle {
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  width: fit-content;
}

section.row {
  display: flex;
}

section.cell {
  height: 32px;
  width: 32px;
}

h3.linkSection a {
  margin: 12px;
}

section.cellm2 {
  background: black;
  box-shadow:inset 0 0 0 2px white;
}

section.cellm1 {
  background: black;
}

section.cell0 {
  background: white;
}

section.cell1 {
  background: yellow;
}

section.cell2 {
  background: orange;
}

section.cell3 {
  background: red;
}

section.cell4 {
  background: cyan;
}

section.cell5 {
  background: lightgreen;
}

section.cell6 {
  background: darkgreen;
}

section.cell7 {
  background: blue;
}

section.cell8 {
  background: firebrick;
}
